@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic reset and font setup */
body {
    @apply bg-amazonGray text-gray-900 font-sans;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f7ad2e;
}
